#game-canvas {
  width: 600px;
  height: 600px;
  background-image: url('game_background.png');
  margin: auto;
}

.container {
  width: 900px;
  margin: auto;
  border: solid 2px black;
  text-align: center;
}

p {
  display: inline-block;
}

body {
  background-color: #b3f0ff;
}
